*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header{
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  background-color: rgb(255 255 255);
}


header .menu-left,
header .menu-right{
  display: flex;
  align-items: center;
  padding: 25px;
}


header .menu-left ul,
header .menu-right ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 15px;
}


header .menu-left ul li a,
header .menu-right ul li a{
  text-decoration: none;
  padding: 20px;
}


header .menu-right .inizia{
  background-color: rgb(1 97 255);
  color: wheat;
  padding: 5px;
}


header .menu-right .inizia a{
  background-color: rgb(1 97 255);
  color: white;
  padding: 5px;
  text-decoration: none;
}


.jumbotron{
  padding-top: 50px;
  height: 650px;
  background-color: rgb(180 208 231);
}


.jumbotron img{
  margin-top: 220px;
  margin-left: 450px;
  width: 50%;
}


.jumbotron h1{
  position: absolute;
  padding-left: 100px;
  width: 85%;
  padding-top: 50px;
  font-size: 60px;
}


.jumbotron .lefttext p{
  position: absolute;
  width: 30%;
  padding-left: 75px;
  padding-top: 180px;
}


.jumbotron  a{
  display: inline-block;
  position: absolute;
  margin-top: 370px;
  margin-left: 98px;
  width: 20%;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  background-color: rgb(1 97 255);
  color: white;
}


.jumbotron .lefttext span{
  position: absolute;
  margin-top: 400px;
  margin-left: 100px;
  padding-top: 10px;
}


.jumbotron .lefttext i{
  position: absolute;
  margin-top: 500px;
  margin-left: 100px;
  font-size: 40px;
}


.entry{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 50px auto;
  background-color: white;
}


.entry h1{
  padding-top: 50px;
  font-size: 40px;
}


.entry .chose{
  padding-top: 40px;
}


.boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}


.boxes .box{
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid blue;
}


.boxes .box .lineeone{
  margin-top: 5px;
  border: 0.5px solid blue;
}


.boxes h3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 20px;
}


.boxes h5{
  font-size: 25px;
  padding-top: 20px;
  padding-left: 30px;
}


.boxes .box .monthprice{
  list-style: none;
  margin-top: 30px;
  margin-left: 20px;
}


.boxes .box .details{
  list-style: none;
  margin-top: 35px;
  margin-left: 20px;
}


.boxes .box .monthprice li{
  padding: 5px 5px;
}


.boxes .box .details li{
  padding-top: 25px;
}


.boxes .box .dayprove{
  margin-top: 40px;
}


.boxes .box .dayprove a{
  display: inline-block;
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 10px;
  margin-left: 20px;
}


.boxes .box span{
  margin-top: 40px;
  margin-left: 20px;
}


.boxes .box h4{
  font-size: 20px;
  margin-top: 40px;
  margin-left: 20px;
}


.boxes .box ul{
  list-style: none;
}


.boxes .box .salienti{
  font-size: 13px;
}


.boxes .box .salienti ul{
  margin-bottom: 50px;
}


.boxes .box .salienti li{
  padding: 20px 20px 20px 20px;
}


.underbox{
  width: 70%;
  margin: 50px auto;
  border: 1px solid blue;
}


.underbox .underboxh{
  font-size: 15px;
  text-align: center;
  padding: 10px;
}


.underbox .lineunderbox{
  width: 100%;
  border: 0.5px solid blue;
}


.underbox .enterprise{
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}


.underbox p{
  margin: 30px 20px;
}


.underbox a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 5px 40px;
}


.partnerbox{
  display: flex;
  width: 70%;
  margin: auto;
}


.partnerbox img{
  width: 100%;
}


.partnerbox .textrgt{
  display: flex;
  flex-direction: column;
  margin: 20px ;
}


.partnerbox .textrgt h1, p{
  margin: 30px;
}


.partnerbox .textrgt a{
  text-decoration: none;
  width: 150px;
  text-align: center;
  border: 1px solid black;
  margin: 30px;
}


.titlebox{
  display: flex;
  justify-content: flex-start;
  width: 70%;
  margin: 50px auto;
}


.findpartnertitle{
  margin-top: 40px;
}


.findpartner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin: auto
}


.findpartner .boxinfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
}


.findpartner .boxinfo img{
  display: inline-block;
  width: 200px;
}


.findpartner .boxinfo h3{
  text-align: center;
  padding: 20px;
  font-size: 25px;
}


.titlebox500{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  margin: 100px auto;
  font-size: 60px;
}


.scopridipiu{
  display: flex;
  justify-content: flex-start;
  width: 70%;
  margin: 50px auto;
}


.endcubes{
  display: flex;
  flex-direction: row;
  width: 100%;
}


.endcubes .cubesende{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 33%;
}


.endcubes .cubesende img{
  width: 50%;
  height: 50%;
  padding: 50px;
  cursor: pointer;
}


#designit{
  background-color: rgb(162 210 155);
  color: wheat;
  border: 10px solid white;
  filter: invert(10%) 
}


#arizonauni{
  background-color: rgb(98 9 43);
  color: white;
  filter: brightness(50) invert(100%);
}


#floridauni{
  background-color: rgb(0 147 206);
  filter: brightness(100%) invert(100%) 
}


#topps{
  background-color: rgb(248 248 248);
  filter: brightness(50) invert(100)  
}


.cubesendecenter{
  width: 34%;
}


.cubesendecenter img{
  width: 30%;
  margin: 50px;
}
  

.cubesendecenter p, span{
  margin: 20px 20px;
}


.cubesright{
  width: 33%;
  background-color: red;
}


#relief{
  background-color: rgb(213 0 32);
}


#hearst{
  background-color: rgb(180 208 231);
}


#lonely{
  background-color: rgb(13 36 129);
}


#clear{
  background-color: rgb(255 216 48);
}


.portaazienda{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 350px;
  background-color: rgb(180 208 231);
}


.portaazienda h1{
  font-size: 50px;
  width: 40%;
}


.portaazienda a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
}


.domandefrequentbox{
  width: 70%;
  height: 500px;
  margin: 50px auto;
}


.domandefrequentbox ul{
  list-style: none;
}


.domandefrequentbox ul li{
  font-size: 20px;
  margin: 30px auto;
  padding: 30px 0;
  border-top: 1px solid blue;
}


.domandefrequentbox ul li a{
  text-decoration: none;
}


footer{
  background-color: black;
}


footer .dropboxfootgen{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  height: 500px;
  margin: 20px auto;
  background-color: black;
}


.dropboxfoot h3{
  display: inline-block;
  color: white;
  margin: 50px 40px;
  font-size: 25px;
}


.dropboxfoot ul li{
  list-style: none;
  color: white;
  margin: 10px 40px;
  font-size: 15px;
}


.dropboxfoot ul li a{
  display: inline block;
  text-decoration: none;
  color: white;
}


.lineefoot{
  display: flex;
  border: 1px solid white;
  width: 10%;
  margin-left: 10%;
  margin-bottom: 30px;
}


.lenguage{
  background-color: black;
  color: white;
}


.lenguage a{
  text-decoration: none;
  margin-left: 10%;
  color: white;
}